<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/cadastro-produto.js"></script>
    <title>Leve Games! Lista de Produtos</title>
  </head>
  <body>
    <!-- Menu component start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Leve Games!</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/Backoffice/Home">HOME</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Backoffice/Usuarios">USUÁRIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Backoffice/Produtos">PRODUTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONSOLES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CLIENTES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">VENDAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RELATÓRIOS</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Menu component end -->
    <main>
      <div class="container">
        <h1 class="display-4" style="margin-top: 3rem">Alterar Usuário</h1>
        <form action="#" th:object="${usuario}" th:action="@{/alterarUsuario/} + ${usuario.id}" th:method="PUT">
          <div class="form-group">
            <label for="text">Nome:</label>
            <input type="text" class="form-control w-50" placeholder="Digite o nome" th:field="*{nome}" id="nome">
          </div>
          <div class="form-group">
            <label for="text">Email:</label>
            <input type="email" class="form-control" placeholder="Digite o email" th:field="*{email}" id="email" disabled>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="text">Senha:</label>
                <input type="password" class="form-control" placeholder="Digite a senha" th:field="*{senha}" id="senha">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="text">Repetir senha:</label>
                <input type="password" class="form-control" name="repetir-senha">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="select">Selecione o Cargo:</label>
            <select class="form-control w-50" th:field="*{cargo}" id="cargo">
              <option value="-1"> -- </option>
              <option value="Administrador">Administrador</option>
              <option value="Analista">Analista</option>
              <option value="Estoquista">Estoquista</option>
            </select>
          </div>

          <hr>

          <div class="form-group">
            <button type="submit" value="submit" class="btn btn-outline-success">Alterar</button>

        </form>
      </div>
    </main>
    <!-- Footer component start -->
    <footer class="footer mt-auto py-3" style="left: 0;bottom: 0;width: 100%;text-align: center;">
      <div class="container">
        <a class="navbar-brand navbar-light" href="#">Leve Games!</a><br/>
        <span class="text-muted">© 2020 Leve Games! Todos os direitos reservados.</span>
      </div>
    </footer>


    <script type="text/javascript">
      function ValidatePassword() {
        var password = document.getElementById("senha").value;
        var confirmPassword = document.getElementById("confirmarSenha").value;
        if (password != confirmPassword) {
          alert("Senhas diferentes!");
          return false;
        }
        return true;
      }

      function ValidateNomeLenght() {
        var nome = document.getElementById("nome").value;
        if (nome.length < 5) {
          alert("Nome inválido!");
          return false;
        }
        return true;
      }
      
      function ValidateForm() {

        if (ValidatePassword() && ValidateNomeLenght()) {
          return true;
        }
        return false;
      }
      
    </script>

    <!-- Footer component end -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>